@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
p{
    font-weight: 300;
}
body{
    min-height: 1000px;
}

/* NAVBAR */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: #000;
    height: 20px;
}
header .logo{
    width: 130px;
    cursor: pointer;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
header .navigation li a:hover{
    color: rgb(247, 223, 7);
}
/*DROPDOWN BUTTON ON NAVIGATION LIST*/
.dropbtn {
    background-color: #000;
    color: white;
    font-size: 1em;
    border: none;
    font-weight: bold;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: lightgrey;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
    }
  
  .dropdown:hover .dropbtn {
    color: rgb(247, 223, 7);
}
.show-modal {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    font-family: sans-serif;
    border: none;
    cursor: pointer;
}
/* Home Page */
.banner{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/bg1.jpg);
  background-size: cover;
}

.banner .content{
  max-width: 900px;
  text-align: center;
}

.banner .content .left-col h1{
  font-size: 5em; 
  color: rgb(247, 223, 7); 
}
.left-col{
  float: left;
}
.banner .content .right-col{
  display: flex;
  align-items: center;
  float: right;
  margin-top: 45%;
}
.banner .content .right-col p{
  font-size: 2em;
  color: rgb(247, 223, 7);
}
.banner .content .right-col #icon{
      width: 80px;
      cursor: pointer;
}
/* About page */
section{
  padding: 100px;
}
.about{
  background-color: #6303a3;
}
.row{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row .col50{
  position: relative;
  width: 48%;
}
.titleText{
  color: #000;
  font-size: 2em;
  font-weight: 500;
}
.titleText span{
  color: rgb(247, 223, 7);
  font-weight: 700;
  font-size: 1.5em;
}
.row .col50 #p-about{
  font-weight: 400;
}
.row .col50 #p-about span{
  color: rgb(247, 223, 7);
  font-weight: 500;
}
.row .col50 .imgabout{
  position: relative;
  width: 100%;
  /* min-height: 300px; */
  height: 100%;
}
.row .col50 .imgabout img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

/* Pjesa e kengeve */
/* Lista e kengeve me te degjuara */
.menu{
  background-color: #424;
}
.menu main{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}
.menu .title {
  padding-bottom: 20px;
}
.menu .title p{
  font-weight: 400;
}
.menu main .menu_side{
  width: 30%;
  height: 100vh; 
  background: #000; 
}

.menu_side{
  position: relative;
  background-color: #000;
  color: #fff;
  
}

.menu  main .menu_side h1{
  font-size: 20px;
  margin: 15px 0 0 20px;
  font-weight: 500;
  padding: 15px 0;
}

.menu main .menu_side .playlist h4{
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  color: #4c5262;
  cursor: pointer;
  transition: .3s linear;
}
.menu main .menu_side .playlist h4:hover {
  color: #fff;
}
.menu main .menu_side .playlist h4 span{
  position: relative;
  margin-right: 35px;
}
.menu main .menu_side .menu_song{
  width: 100%;
  height: 420px ;
  margin-top: 40px;
  overflow: auto;
}
.menu main .menu_side .menu_song::-webkit-scrollbar{
  display: none;
}

.menu main .menu_side .menu_song li{
  position: relative;
  list-style-type: none;
  padding: 5px 0 5px 20px;
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .3s linear;
}

.menu main .menu_side .menu_song li:hover{
  background: rgb(105, 105, 170, .1);
}

.menu main .menu_side .menu_song li span{
  font-size: 12px;
  font-weight: 600;
  color: #4c5262;
}
.menu main .menu_side .menu_song li img{
  width: 32px;
  height: 32px;
  margin-left: 25px;
}
.menu main .menu_side .menu_song li h5{
  font-size: 11px;
  margin-left: 15px;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu main .menu_side .menu_song li h5 .subtitle{
  font-size: 9px;
  color: #4c5262;
}
.menu main .menu_side .menu_song li .icon{
  position: absolute;
  right: 15px;
  top: 6px;
  font-size: 16px;
}